html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


img{
    width:100%;
}
.wrapper{
    max-width: 1200px;
    width:90%;
    margin:0 auto;
}
header{
    background-image: url(./drive-solo-assets/assets/image-1@2x.png);
    height:750px;
    background-size: cover;
    width:100%;
    margin:0 auto;
}
h1{
    color:#CC1D36;
    font-family: 'Kanit', sans-serif;
    font-size: 116.2px;
    line-height: 97px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin:0;
    font-weight: 500;
}
.logo{
    color:white;
    font-family:'kanit', sans-serif;
    font-size: 42px;
    line-height: 43px;
    text-transform: uppercase;
    margin:0;
    padding-top: 20px;
}
h4{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    line-height: 31.6px;
    letter-spacing: 0.3px;
    margin:0;
}
.desktop a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    padding:20px;
}
.desktop ul{
    float:right;
}
.title{
    position: absolute;
    top:300px;
}
.hamburger-icon i{
    color:white;
    font-size: 40px;
    float:right;
}
.hamburger-icon a
{
    display: none;
}
.drop-down ul a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px; 
}
.drop-down{
    float: right;
    width: 10%;
    text-align: end;
    line-height: 5;
    display:none;
}
.media-icons i{
    color: white;
    font-size: 26px;
    width:100%;
    margin-top: 20px;
}
.media-icons{
    position:absolute;
    right:0;
    bottom:-200px;
}
.part-2-pics img{
    width:calc(33% - 40px);
    float:left;
    margin-right:20px;
}
h2{
    font-family:'kanit', sans-serif;
    font-size: 42px;
    line-height: 43px;
    text-transform: uppercase;  
}
.part-2 h2{
    text-align: center;
    padding:40px 0;
}
.part-2-pics{
    margin-bottom: 80px;
}
.part-3 img{
    float:left;
    width:25%;
    margin-right: 20px;
}
.part-3 div{
    width:70%;
    float:right;
}
.part-3 h2{
    margin:0;
}
.part-3 p{
    margin:5px auto;
}
.part-4{
    margin-top:5%;
}
.part-4 img{
    float:right;
    width:50%;
}
.part-4-left{
    float:left;
    width:45%;
    padding:5%;
}
.part-4-left h2{
    width:65%;
}
.part-5 img{
    float:left;
    width:50%;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height:29px;
    font-weight: lighter;
}
button{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #ba0621;
    text-align: center;
    line-height: 29px;
    text-transform: uppercase;
    padding:5px 10px;
}
.part-5 h2{
    margin-top:0;
}
.part-5-right{
    float:right;
    width:50%;
    padding:5%;
}
.icon-1, .icon-2, .icon-3{
    float:left;
    width:33%;
   
}
.icons h3{
    font-family: 'Kanit', sans-serif;
    color:white;
    font-size: 40px;
}
.icons{
    background-image: url(./drive-solo-assets/assets/oscar-aguilar-327500-unsplash@2x.png);
    text-align: center;
    padding:40px;
}
.icons i{
    color: #CC1D36;
    font-size: 40px;
}
.subscribe{
    float:left;
    width:50%;
}
footer{
    background: #ba0621;
    padding-top: 20px;
}
footer p{
    color: white;
}
.subscribe button{
    background:#0b0101;
}
input{
    width:75%;
    line-height:2.15;
}
.contact{
    width:25%;
    float:left;
}
footer h4{
    font-family: 'Kanit', sans-serif;
}
.bottom-links a{
    font-family:'Kanit', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.middle-footer{
    padding:70px 0;
}
.copy{
    clear:both;
    text-align: center;
    background: #0b0101;
}
.copy p{
    margin:0;
}
.bottom-links ul{
    width:10%;
    float:right;
    line-height: 2;
    text-align: right;
}
@media(max-width:745px){
    .bottom-links ul{
        width:15%;
    }
    
}
@media(max-width:570px){
    .bottom-links ul{
        width:18%
    }
}
@media(max-width:494px){
    .subscribe{
      float:none;
      text-align: center;
      width: 100%;  
    }
    .subscribe button{
        width:75%;
    }
    input{
        text-align: center;
    }
    footer p{
        font-size: 100%;
    }
    .bottom-links a{
        font-family: 'Kanit', sans-serif;
        font-size: 25px;
    }
    .contact{
        width:40%;
        padding-top:24px;
    }
    .bottom-links ul{
        width:35%;
    }
    .bottom-links a{
        padding-top: 5px;
    }
    .icon-1, .icon-2, .icon-3{
        width:100%;
        float:none;
    }
    .part-5 img{
        width:100%;
    }
    .part-5-right{
        width:90%;
        text-align: center;
        float:none;
    }
    .part-5 h2{
       font-size:38px ; 
       display:inline-block;
       margin-top:20px;
    }
    .part-4  img{
        float:none;
        width: 100%;
    }
    .part-4-left{
        float:none;
        width:100%;
        text-align: center;
    }
    .part-4-left h2{
        font-size:38px;
        width: 100%;
    }
    .part-3 img{
        float:none;
        width:100%;
    }
    .part-3 div{
        width:95%;
        text-align: center;
    }
    .part-3 h2{
        font-size: 35px;
        width: 100%;
    }
    .pic-3{
        display:none;
    }
    .part-2-pics img{
        width:48%;
        float:none;
        margin-right: 0;
    }
    .pic-2{
       margin-left: 10px;       
    }
    .fab{
        display: none;
    }
    .desktop{
        display:none;
    }
    .logo{
        display:none;
    }
    .title h1{
        font-size: 65px;
        line-height: 60px;
        font-weight: bolder;
    }
    .title h4{
        font-size: 16px;
    }
    header{
        height:600px;
    }
    .hamburger-icon i{
        display: block;
    }
    .hamburger-icon a:hover ~ .drop-down{
        display: block;
    }
}
@media(max-width:380px){
    header{
        height:550px;
    }
    .pic-2{
        margin-left: 0;
    } 
}